<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.allergydiary">

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher_icon_with_background"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DiaryActivity"
            android:parentActivityName="com.example.allergydiary.MainActivity"></activity>
        <activity android:name=".DataListActivity"
            android:parentActivityName="com.example.allergydiary.DiaryActivity"></activity>
        <activity android:name=".ChartsActivity"></activity>
        <activity android:name=".ForecastActivity"
            android:parentActivityName="com.example.allergydiary.MainActivity"></activity>
        <activity android:name=".SettingsActivity"
            android:parentActivityName="com.example.allergydiary.MainActivity"></activity>


    </application>

</manifest>